:root {
  --primary-color: oklch(0.19 0.03 240);
  --darkest-primary-color: oklch(0.13 0.03 240);
  --light-text-color: oklch(1.0000 0.0000 0.00);
  --dark-text-color: oklch(0.25 0.02 240);
  --secondary-color: oklch(0.70 0.17 220);
  --tertiary-color: oklch(0.52 0.20 250);
  --site-background: var(--light-text-color);
  --primary-variant-color: var(--secondary-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--site-background);
  color: var(--dark-text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-variant-color);
}

.insta-gradient-box {
  width: 120px;
  height: 120px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.insta-svg-icon {
  color: white;
  width: 80px;
  height: 80px;
}

/* Button Overrides */
.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--light-text-color) !important;
}

.btn-primary:hover {
  background-color: var(--darkest-primary-color) !important;
  border-color: var(--darkest-primary-color) !important;
}

.btn-outline-primary {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-outline-primary:hover {
  background-color: var(--primary-color) !important;
  color: var(--light-text-color) !important;
  border-color: var(--primary-color) !important;
}

/* Button Overrides */
.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--light-text-color) !important;
}

.btn-primary:hover {
  background-color: var(--darkest-primary-color) !important;
  border-color: var(--darkest-primary-color) !important;
}

.btn-outline-primary {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-outline-primary:hover {
  background-color: var(--primary-color) !important;
  color: var(--light-text-color) !important;
  border-color: var(--primary-color) !important;
}